@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header {
  background-color: #4B371C;
  box-shadow: 0px 3px 10px #464646;

  width:100%;
  height: auto;
  z-index:10;
  
  
 
 
}

body
{

  background-color: #e6d4bb;
}




.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo  {
  display: flex;
  align-items: center;
 
 
 
  }

.logo img
{
 width: 11%;
 height:100%;
 
}
.logo a h2 {
  color: #e6d4bb;
  cursor: pointer;
  font:normal 25px 'Cookie', cursive;
  padding-left: 8px;
  margin-top: 1%;
  
  
}
.logo a{
  text-decoration: none;
}


.logo:hover{
  cursor: pointer;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-right: 36%;
  

}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  

 
}
.nav-list ul a{
  color:#e6d4bb;
}
.nav-list ul a:hover
{
  text-decoration: underline;
}
.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color:white;
  font-weight: 400;
}

.login-button button {
  border: none;
  padding: 10px 13px;
  border-radius: 5px;
  background-color:  #4B371C;
  margin-top: 12%;
  
 
}

.login-button button:hover
{
 
  background-color: #68492b;
  transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0,2s;
}

.login-button button a {
  text-decoration: none;
  color:#e6d4bb;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;

}

.mobile-menu {
  display: none;
}


.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: transparent;
}


.retrato img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.hist {
    max-width: 600px;
    margin-left: 50px;
}

@keyframes slide-in1 {
from {
    transform: translateX(100%);
}
to {
transform: translateX(0);
}
}


.hist h1 {
    font-size: 36px;
    color: #4B371C;
    animation: slide-in1 1s ease-in-out;
}

.hist p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    animation: slide-in1 1s ease-in-out;
}


.intro1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: transparent;
}

@keyframes slide-in {
from {
    transform: translateX(-100%);
}
to {
transform: translateX(0);
}
}


.hist1 {
    
    
    animation: slide-in 1s ease-in-out;
    max-width: 600px;
    margin-right: 50px;
    text-align: right;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    
}


.retrato1 img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
footer{
    width: 100%;
    background-color: #4B371C;
    box-shadow: 2px 3px 10px #464646;
    margin-top: 30px;
  }
  .footer-logoo {
  
  
  display:flex;
  padding-bottom: 5px;
  
  }
  .footer-logoo img{
  width:10%;
  height: 100%;
  
  }
  
  .footer-logoo h2{
  
  font:normal 30px 'Cookie', cursive;
  padding-left: 8px;
  color:#e6d4bb;
  
  
  }
  .footer-logo p 
  {
  color:white;
  }
  
  
  
  
  
  .footer-link {
  text-decoration: none;
  }
  
  .footer-geral {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
  margin-left:5%;
  }
  
  
  
  .footer-media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  }
  
  .footer-media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color:black;
  border-radius: 50%;
  transition: all 0.4s;
  }
  
  .footer-media .footer-link i {
  font-size: 1.25rem;    
  }
  
  .footer-media .footer-link:hover {
  opacity: 0.8;
  }
  
  #instagram {
  background: #e6d4bb;;
  }
  
  #facebook {
  background-color: #e6d4bb;;
  }
  
  #whatsapp {
  background-color: #e6d4bb;;
  }
  #localizacao{
  background-color: #e6d4bb;;
  }
  
  
  .footer-contatos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  margin-left:20%;
  
  }
  .footer-contatos h3{
  color:#e6d4bb;
  }
  
  .footer-contatos .footer-link {
  
  transition: all 0.4s;
  color:white;
  }
  
  
  
  .footer-duvidas {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom:10px;
  margin-left:2%;
  width:90%;
  }
  .footer-duvidas h3{
  color:#e6d4bb;
  }
  
  .footer-duvidas p {
  color: white;
  padding-bottom:5px;
  }
  
  #input_group {
  display: flex;
  align-items: center;
  background-color: #e6d4bb;
  border-radius: 4px;
  
  }
  
  #input_group input {
  all: unset;
  padding: 0.0rem;
  width: 100%;
  
  }
  
  #input_group button {
  background-color: #e6d4bb;
  border: none;
  color: black;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
  padding-top:5px;
  }
  
  #input_group button:hover {
  opacity: 0.8;
  background-color:#caad84;
  }
  
  .footer-copyright {
  display: flex;
  justify-content: center;
  color: wheat;
  font-size: 0.9rem;
  padding: 1.1rem;
  font-weight: 100;
  }
@media screen and (max-width: 768px) {

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
    * {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    }
    .nav-bar .logo{

    margin-right:10px;


    }

    .logo{
        width: 100%;
    }
    .logo img{
        width:30%;
        height: 100%;


    }

    .logo h2{


    font:normal 16px 'Cookie', cursive;
    padding-left:5px;

    }
   
    .nav-bar {
        padding: 1.5rem 4rem;

    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding: 1.5rem;
    }
    .mobile-menu ul li:hover{
        background-color:#68492b;
        border-radius: 5px;
       
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 0.4rem;
        padding: 0.8rem 0.8rem;
       

       
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
       
       

    }
    .mobile-menu .login-button button {
        width: 100%;
       
    }
    .open {
        display: block;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        background-color: transparent;
    }


    .retrato img {
        width: 100%;
        max-width: 300px;
        border-radius:8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }


    .hist {
        max-width: 600px;
        margin-top: 20px;
        text-align: center;
    }

    .hist h1 {
        font-size: 36px;
        color: #E86800;
        margin-right:10%;
    }

    .hist p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        margin-right:10%;
    }


    .intro1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        background-color: transparent;
    }


    .hist1 {
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
        margin-left:10%;
    }


    .retrato1 img {
        width: 100%;
        border-radius:8px;
        max-width: 300px;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    } 
    footer{
    width: 100%;
    background-color: #4B371C;
    box-shadow: 2px 3px 10px #464646;
    margin-top: 30px;
    }
    .footer-logoo {


    display:flex;
    padding-bottom: 5px;

    }
    .footer-logoo img{
    width:10%;
    height: 100%;

    }

    .footer-logoo h2{

    font:normal 30px 'Cookie', cursive;
    padding-left: 8px;
    color:#e6d4bb;


    }
    .footer-logo p 
    {
    color:white;
    }





    .footer-link {
    text-decoration: none;
    }

    .footer-geral {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    margin-left:5%;
    }



    .footer-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    }

    .footer-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:black;
    border-radius: 50%;
    transition: all 0.4s;
    }

    .footer-media .footer-link i {
    font-size: 1.25rem;    
    }

    .footer-media .footer-link:hover {
    opacity: 0.8;
    }

    #instagram {
    background: #e6d4bb;;
    }

    #facebook {
    background-color: #e6d4bb;;
    }

    #whatsapp {
    background-color: #e6d4bb;;
    }
    #localizacao{
    background-color: #e6d4bb;;
    }


    .footer-contatos {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left:20%;

    }
    .footer-contatos h3{
    color:#e6d4bb;
    }

    .footer-contatos .footer-link {

    transition: all 0.4s;
    color:white;
    }



    .footer-duvidas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom:10px;
    margin-left:2%;
    width:90%;
    }
    .footer-duvidas h3{
    color:#e6d4bb;
    }

    .footer-duvidas p {
    color: white;
    padding-bottom:5px;
    }

    #input_group {
    display: flex;
    align-items: center;
    background-color: #e6d4bb;
    border-radius: 4px;

    }

    #input_group input {
    all: unset;
    padding: 0.0rem;
    width: 100%;

    }

    #input_group button {
    background-color: #e6d4bb;
    border: none;
    color: black;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
    padding-top:5px;
    }

    #input_group button:hover {
    opacity: 0.8;
    background-color:#caad84;
    }

    .footer-copyright {
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 0.9rem;
    padding: 1.1rem;
    font-weight: 100;
    }
    footer{
        width: 100%;
        background-color: #4B371C;
        box-shadow: 2px 3px 10px #464646;
        margin-top: 30px;
    }

    .footer-logoo img {
    width:15%;
    height: 100%;
    }
    .footer-logoo h2{
    margin-top: 3%;
    }
    
    .footer-geral {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }
    .footer-duvidas {
    text-align:center;
    }
    .footer-contatos{
    text-align:center;
    margin-right:27%;
}
}    
@media screen and (max-width: 426px) {

    #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }